@model ex.Context.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TopicId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopicId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullDecription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullDecription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceSale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceSale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HotSale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotSale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DealOfWeek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DealOfWeek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
