@model ex.Models.ProductDetailModel
@{
    ViewBag.Title = "AllProduct";
}
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a href="./index.html">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                        @foreach (var item in Model.ListCategory.Where(n => n.ParentId == 0))
                        {
                            <div class="card">
                                <div class="card-heading">
                                    <a href="" data-toggle="collapse" data-target="#@item.DataScroll">@item.Name</a>
                                </div>
                                <div id="@item.DataScroll" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                @foreach (var childitem in Model.ListCategory.Where(n => n.ParentId == item.Id))
                                                {
                                                    <li><a href="">@childitem.Name</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>
                                    Hiển thị 1-12 trong số 126 kết quả
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <p>
                                    Sắp xếp theo giá:
                                </p>
                                <select>
                                    <option value="">Thấp đến cao</option>
                                    <option value="">0Vnđ - 99.000Vnđ</option>
                                    <option value="">99.000Vnđ - 199.000Vnđ</option>
                                    <option value="">199.000Vnđ - 299.000Vnđ</option>
                                    <option value="">299.000Vnđ - 499.000Vnđ</option>
                                    <option value="">499.000Vnđ - ~ </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                   @*@Html.Action("lstProduct", "Product")*@

                    @foreach (var item in Model.ListProduct)
                        {
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="/Content/img/product/@item.Image">
                                    <ul class="product__hover">
                                        <li><a href="#"><img src="~/Content/img/icon/heart.png" alt=""><span>Like</span></a></li>
                                        <li><a href="@Url.Action("ProductDetail", "Product", new { Id = item.Id }, null)"><img src="~/Content/img/icon/search.png" alt=""><span>Detail</span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>@item.Name</h6>
                                    <a href="/ShoppingCart/AddToCart/@item.Id" class="add-cart">+ Thêm vào giỏ hàng</a>
                                    <div class="rating">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <h5>@item.Price</h5>
                                    <div class="product__color__select">
                                        <label for="pc-4">
                                            <input type="radio" id="pc-4">
                                        </label>
                                        <label class="active black" for="pc-5">
                                            <input type="radio" id="pc-5">
                                        </label>
                                        <label class="grey" for="pc-6">
                                            <input type="radio" id="pc-6">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                <a class="active" href="#">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <span>...</span>
                                <a href="#">21</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>