@model ex.Context.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExportDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExportDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
